// Variables
:root {
    --background-color: #222;
    --text-color: #eee;

    --leash-color: green;
    --grid-color: white;
}
[data-curve-idx="0"] {
    --curve-color: red;
}
[data-curve-idx="1"] {
    --curve-color: yellow;
}

// Base
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color-scheme: dark;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

// Curves
.curve {
    &__line {
        fill: none;
        stroke: var(--curve-color);
        stroke-width: 2;
    }

    &__point {
        fill: var(--curve-color);
        r: 5;
    }

    &__preview {
        opacity: 0.5;
    }
}


// Leashes
.leash {
    &__line {
        fill: none;
        stroke: var(--leash-color);
        stroke-width: 2;

        &--dashed {
            stroke-dasharray: 2 4;
            stroke-linecap: round;
        }
    }

    &__point {
        fill: var(--leash-color);
        r: 3;
    }
}

// Plot
.plot-canvas {
    border: 1px solid var(--grid-color);
}

.plot-overlay {
    pointer-events: none;
}

.grid-lines {
    fill: none;
    stroke: var(--grid-color);
    stroke-width: 1;
}
