// Variables
:root {
    --text-color: #{mix(#1f271b, #f3fcf0, 20%)};
    --background-color: #181e15;
    --space-view-background-color: #1f271b;
    --space-view-border-color: #{rgba(#9ec089, 0.2)};
    --space-view-box-shadow: inset 0 1px 1px #{rgba(#9ec089, 0.1)},
        inset 0 0 0 1px #{rgba(#9ec089, 0.2)};

    --leash-color: #ffd23f;
    --grid-color: #ffffff;
}

[data-curve-idx='0'] {
    --curve-color: #f72585;
}

[data-curve-idx='1'] {
    --curve-color: #4cc9f0;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #{mix(#e8f1e3, #181e15, 20%)};
        --background-color: #e8f1e3;
        --space-view-background-color: #f8fff5;
        --space-view-border-color: #{rgba(#181e15, 0.15)};
        --space-view-box-shadow: 0 2px 3px #{rgba(#181e15, 0.05)},
            inset 0 0 0 1px #{rgba(#181e15, 0.15)};

        --leash-color: #09e85e;
        --grid-color: #111;
    }

    [data-curve-idx='0'] {
        --curve-color: #d91b72;
    }

    [data-curve-idx='1'] {
        --curve-color: #1d9bc4;
    }
}

// Base
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#container {
    height: 100%;
}

html {
    font-family: 'Work Sans', sans-serif;
    color-scheme: dark;
}

body {
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
}

.space-view-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;

    @media (orientation: portrait) {
        flex-direction: column;
    }
}

.space-view {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

    background-color: var(--space-view-background-color);
    border-radius: 8px;
    box-shadow: var(--space-view-box-shadow);
}

.space-view__header {
    margin: 0 10px;
    padding: 10px 5px;
    border-bottom: 1px solid var(--space-view-border-color);
}

.space-view__title {
    font-weight: 500;
    opacity: 1;
}

.space-view__canvas {
    width: 100%;
    height: 100%;

    & > svg {
        width: 100%;
        height: 100%;
    }
}

// Curves
.curve {
    &__line {
        fill: none;
        stroke: var(--curve-color);
        stroke-width: 2;
    }

    &__point {
        fill: var(--curve-color);
        r: 5;
    }

    &__preview {
        opacity: 0.5;
    }
}

// Leashes
.leash {
    &__line {
        fill: none;
        stroke: var(--leash-color);
        stroke-width: 2;

        &--dashed {
            stroke-dasharray: 2 4;
            stroke-linecap: round;
        }
    }

    &__point {
        fill: var(--leash-color);
        r: 3;
    }
}

// Plot
.plot-canvas {
    box-shadow: 0 0 0 1px var(--grid-color);
    border-radius: 1px;
}

.plot-overlay {
    pointer-events: none;
}

.grid-lines {
    fill: none;
    stroke: var(--grid-color);
    stroke-width: 1;
}
